/**
  This file initializes callbacks 

  If you want to fix something, you must edit 'insns.def', or 
  tool/instruction.rb, or the template in vm_jit_initializations.inc.tmpl
 */
#ifndef VM_JIT_CALLBACK_INITS_H
#define VM_JIT_CALLBACK_INITS_H

<%=
callback_list.join("\n") 
%>

#endif /* VM_JIT_CALLBACK_INITS_H */
