/**
  Forward declares callback functions.

  If you want to fix something, you must edit 'insns.def', or 
  tool/instruction.rb, or the template in vm_jit_forward.inc.tmpl
 */
#ifndef VM_JIT_FORWARD_H
#define VM_JIT_FORWARD_H

<%=
callback_list.join("\n") 
%>

#endif /* VM_JIT_FORWARD */
